<!DOCTYPE html>
<html>
<head>
    <title>Japan Map</title>


      <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
        margin-left:40px;
       }
      </style>
</head>
<body>
<h1>九州地方</h1>

<div id="map-container_pre"></div>

    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: 32.796705, lng: 130.939259};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 8, center: uluru});
  // The marker, positioned at Uluru
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaD1BBqOInNQvYAVuEMe5DdsoQh-cnRrA&callback=initMap">
    </script>

        <ul class="tab">
              <li class="select">城</li>
              <li>神社</li>
              <li>旧跡</li>
              <li>その他</li>
    </ul>
    <ul class="content">
      <li>
        <table>
          <% @castles.each do |castle| %>
          <tr>
<!--             <td class="panel_arrange"> -->
              <td class="panel panel-default col-md-6 col-sm-6 col-xs-12">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= link_to castle.ca_name, castle_path(castle.id) %></h3>
                  <div class="image_ca_rightcontent">
                    <% if castle.ca_top_image.present? %>
                    <%= image_tag castle.ca_top_image , :size => '100x100' %>
                    <% else %>
                    <%= image_tag 'noimage.jpg' , :size => '100x100' %>
                    <% end %>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="image_ca_leftcontent">
                    <%= castle.ca_info %>
                  </div>
                </div>

              </td>
<!--             </td> -->
          </tr>
          <% end %>
        </table>
      </li>

      <li class="hide">
        <br>
        <h3>coming soon</h3>
      </li>
      <li class="hide">
        <br>
        <h3>coming soon</h3>
      </li>
       <li class="hide">
        <br>
        <h3>coming soon</h3>
      </li>
    </ul>

<div class="blank"></div>
<div class="blank"></div>
<div class="blank"></div>
<script>
$(function() {
  $('.tab li').click(function() {
    $('.tab li').removeClass('select');
　　 $(this).addClass('select');
　　 $('.content li').addClass('hide');
    const index = $('.tab li').index($(this))
    $('.content li').eq(index).removeClass('hide');
  });
});
</script>


</body>
</html>