
<h2>クイズ一覧</h2>
<% @quizzes.each do |quiz| %>
<table class="table table-hover col-md-3 col-sm-4 col-xs-12">
<thead>
<tr>
<th>タイトル</th>
<th>内容</th>
<th></th>
</tr>

</thead>
<tbody>
<tr>
<td class="title_quiz"><%= quiz.q_title %></td>
<td class="content_quiz"><%= truncate(quiz.q_content , :length => 15)%></td>
<td class="answer_quiz"><%= link_to '回答する', quiz_path(quiz.id), class:"btn btn-info" %></td>

</tr>
</tbody>
</table>

<% end %>

<div class="create_quiz">
  <%= link_to 'クイズを作成する', new_quiz_path %>
</div>