
<h2>クイズ一覧</h2>
<% @quizzes.each do |quiz| %>
<div class="quiz_menu">
<%= quiz.q_title %>
<%= quiz.q_content %>
<%= link_to '回答する', quiz_path(quiz.id) %>
</div>
<% end %>

<%= link_to 'クイズを作成する', new_quiz_path %>