<!DOCTYPE html>
<html>
<head>
    <title>Japan Map - EXAMPLE 1</title>
    <script src="/path/to/jquery.min.js"></script>
    <script src="/path/to/jquery.japan-map.min.js"></script>
    <script>
    $(function(){
        var areas = [
            {code : 2, name: "東北地方",   color: "#759ef4", hoverColor: "#98b9ff", prefectures: [2,3,4,5,6,7]},

        ];

        $("#map-container_pre").japanMap({
          areas  : areas,
          selection : "area",
          showsAreaName : true,
          width: 300,
          font : "MS Mincho",
          fontSize : 12,
          fontColor : "areaColor",
          fontShadowColor : "black",
          onSelect:function(data){
              alert(data.name);
            }
        });
    });
    </script>
</head>
<body>
<h1>東北地方</h1>

<div id="map-container_pre"></div>
</body>
</html>
