

.ca_top_image{
  width: 250px;
  height: 300px;
};

.blank{
  height: 100px;
  width: 100%;
}


// Place all the styles related to the castles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
