
.quiz_title{
  text-align: center;
}

.quiz_content{
  text-align: center;
}

.answer1{
  text-align: center;
}

.answer2{
  text-align: center;
}

.answer3{
  text-align: center;
}

.answer4{
  text-align: center;
}

.title_quiz{
  height: 50px;
  width: 200px;
}

.content_quiz{
  height: 50px;
  width: 200px;
}

.answer_quiz{
  height: 50px;
  width: 100px;
}

.create_quiz{
  height: 50px;
  width: 200px;
}

.table{
  margin-left: 10px;
}

// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
