
.quiz_title{
  text-align: center;
}

.quiz_content{
  text-align: center;
}

.answer1{
  text-align: center;
}

.answer2{
  text-align: center;
}

.answer3{
  text-align: center;
}

.answer4{
  text-align: center;
}

// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
