
.ranks_panel{
  width: 50%
}

.table{
  height: 100px;
  width: 400px;
}

.chart-container{
  float: right;
}

.font{
  font-family: arial, sans-serif;
}

.right_float{
  float: right;
}

.font{
  font-size: x-large;
}

.user_center {
  margin-left: 80px;
}

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
