
.container_user_index{
  background-image: image-url("sakura.png");
  width: 100%;
  height: 1200px;
}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon1-left:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.balloon1-left p {
  margin: 0;
  padding: 0;
}


.ranks_panel{
  width: 50%
}

.table{
  height: 100px;
  width: 400px;
}

.chart-container{
  float: right;
}

.font{
  font-family: arial, sans-serif;
}

.right_float{
  float: right;
}

.font{
  font-size: x-large;
}

.user_center {
  margin-left: 80px;
}

#tabs{
  width: 40%;
  height: 300px;
}

#tabs ul {
  overflow:hidden; height:2em; list-style:none; border-bottom:1px solid #cccccc;
}
#tabs li {
  float:left; display:inline; margin-left:10px; padding:5px; border:1px solid #ccc; border-bottom:none; border-radius:10px 10px 0 0;
}
  /* 最初はパネルは非表示 */
  #tabs .panel {display:none;}

// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
